.footer {
  background-color: $PrimaryBlue100;
  color: #fff;
  padding: 80px 0px;
  padding-bottom: 40px;

  &__container {
    // padding: 80px 0px;
    // padding-bottom: 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
  }

  &__title {
    width: 530px;
    height: 190px;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    & .logo {
      color: #fff;
    }
  }

  &__tel {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    margin-right: 40px;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__top {
      flex-direction: column;
      // flex-wrap: wrap;
      // margin-bottom: 121px;
      // padding-left: 71px;
    }
    &__title {
      margin-right: 119px;
    }
  }
}

@media (max-width: 720px) {
  .footer {
    &__logo {
    margin-bottom: 14px;
    }
    &__title {
      font-size: 20px;
      width: 347px;
    }
    &__tel {
      font-size: 24px;
    }
    &__top {
      flex-direction: column;
      margin-bottom: 121px;
    }
    &__bottom {
      flex-direction: column;
    }
  }
}
