.details {
    margin-top: 112px;
    margin-bottom: 136px;
}

.desc {
    display: flex;

    &__list {
        width: 55%;
        padding: 30px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 46px;
    }
    
    &__pdf {
        width: 45%;
    }

}